name: build

on:
  push:
    paths: '**.ts' # only run on modified typescript files
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: actions/setup-node@v2.5.1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run build
      - run: npm run test
        env:
          REFRESH_TOKEN: ${{secrets.REFRESH_TOKEN}}
      - run: npm run clean
